hr {
  width: 8rem;
}

/* NAVBAR */
.nav {
  justify-content: center;
}

.navbar, .title {
  padding: 0 0 0.3rem;
  background-color: #eee;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 1.7rem;
  font-weight: bold;
  color: #000;
}

.navbar-brand:hover {
  color: #000D6B;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
  color: #000;
}

.nav-link:hover {
  color: Grey;
}

/* TITLE */
.title {
  text-align: center;
  padding: 1% 7% 18% 7%;
}

.title-head {
  font-size: 4rem;
  color: #000;
  font-family: serif;
  text-align: center;
}

.title-p {
  font-size: 1.5rem;
  color: #000;
}

/* GUDE SECTION */

#interview {
  background-color: #eee;
}

.interview-boxes {
  padding-top: 3%;
  padding-left: 6%;
  padding-bottom: 5%;
}

.interview-box {
  margin: 1%;
  background-color: white;
  width: 400px;
  height: 650px;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

.box-p {
  padding-top: 0.5rem;
  line-height: 2rem;
  color: #000;
  text-align: left;
  color: #3B0000;
}
.box-pa {
  color: #000;

}
.box-h {
  color: #000;
}

/* OFFCANVAS */

.offcanvas {
  width: 95%;
  height: 90%;
  padding: 5rem;
  margin-left: 1.5rem;;
}

/* NEWS CSS */
.newblue {
  margin: 2%;
  padding: 3% 5%;
  width: 600px;
  height: 150px;
  background-color: grey;
}

.endvent {
  padding-top: 6%;
  padding-left: 4%;
  padding-bottom: 6%;
  background-color: #eee;
}

.news-car {
  padding-top: 4rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
  background-color: #eee;
}

.news-p {
  font-size: 2rem;
  line-height: 2rem;
  margin: 2%;
  padding-left: 8rem;
  padding-top: 3rem;
  color: white;
  text-align: left;
}

.news-h {
  font-size: 4rem;
  line-height: 2.5rem;
  padding-left: 9rem;
  padding-top: 3rem;
  text-align: left;
}

.news-img{
  width: 175%;
  height: 100%;
  padding-right: 5rem;
}


@media (max-width :996px) {
  .news-h {
    font-size: 2.5rem;
    padding-left: 4rem;
    line-height: 1rem;
  }
  .news-p {
    font-size: 1.5rem;
  }
  .news-img {
    visibility: hidden;

  }
  .endvent {
    padding-left: 11rem;
  }
  .post {
    padding-left: 9%;
  }
}

@media (max-width : 630px) {
  .endvent {
    padding-left: 1.5rem;
  }
  .newblue {
    width: 450px;
    height: 150px;
    padding-left: 1rem;
  }
  .post {
    padding-left: 11%;
  }
}
